<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-headline-4">Connexion</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="email"
        (ngModelChange)="getLoginError()"
        placeholder="Entrez votre email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        (ngModelChange)="getPasswordError()"
        type="password"
        placeholder="Entrez votre mot de passe"
        required
      />
    </mat-form-field>

    <button
      mat-fab
      extended
      color="primary"
      [disabled]="!isLoginValid() || !isPasswordValid()"
      (click)="login()"
    >
      <mat-icon>login</mat-icon> Se connecter
    </button>
    <mat-error *ngIf="getLoginError()">{{ getLoginError() }}</mat-error>
    <mat-error *ngIf="getPasswordError()">{{ getPasswordError() }}</mat-error>
    <button mat-fab extended color="accent" (click)="openChat()">
      <mat-icon>help_outline</mat-icon> Aide
    </button>
  </mat-card>
</div>
